<%= form_for(@event) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="field">
    <%= f.label :description, class: 'form-control' %>
    <%= f.text_area :description, placeholder: "Describe your party..." %>
  </div>

  <%= f.label :location, class: 'form-control' %>
  <%= f.text_field :location %>

  <%= f.label :date, class: 'form-control' %>
  <%= f.datetime_field :date %>

      

  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>