    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "EventJack", '#', id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home", root_url %></li>
            <li><%= link_to "Users", '#' %></li>
            <li><%= link_to "Events", '#' %></li>
            <li><%= link_to "Sign In", '#' %></li>
          </ul>
        </nav>
      </div>
    </header>