    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "EventJack", '#', id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home", root_url %></li>
            <% if logged_in? %>
              <li><%= link_to "Users", users_path %></li>
              <li><%= link_to "Events", '#' %></li>
              <li><%= link_to "Log out", logout_path, method: "delete" %></li>
            <% else %>
              <li><%= link_to "Sign In", login_path %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>